## Import Libraries

In [2]:
import pandas as pd
import numpy as np

## Read the data

In [18]:
df = pd.read_csv("../datasets/railway.csv" , sep =",")

## Explor a summary of the data

### Define the columns

In [26]:
df.columns

Index(['Transaction ID', 'Date of Purchase', 'Time of Purchase',
       'Purchase Type', 'Payment Method', 'Railcard', 'Ticket Class',
       'Ticket Type', 'Price', 'Departure Station', 'Arrival Destination',
       'Date of Journey', 'Departure Time', 'Arrival Time',
       'Actual Arrival Time', 'Journey Status', 'Reason for Delay',
       'Refund Request'],
      dtype='object')

In [19]:
df.head(10)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No
5,4e1dcd88-3d95-44ef-99fa,2023-12-30,07:56:06,Online,Credit Card,NaN,Standard,Advance,35,London Kings Cross,York,2024-01-01,06:15:00,08:05:00,08:05:00,On Time,NaN,No
6,1c74479d-85a4-4ba1-a607,2023-12-31,00:02:01,Station,Credit Card,Adult,Standard,Advance,2,London Euston,Oxford,2024-01-01,22:30:00,23:40:00,23:40:00,On Time,NaN,No
7,febf8dab-f808-46fa-bf2b,2023-12-31,01:35:18,Station,Contactless,Disabled,Standard,Advance,2,Liverpool Lime Street,Manchester Piccadilly,2024-01-01,00:00:00,00:30:00,00:30:00,On Time,NaN,No
8,01df916f-4291-41ec-a37d,2023-12-31,01:43:09,Station,Credit Card,NaN,Standard,Advance,37,London Euston,York,2024-01-01,00:00:00,01:50:00,02:07:00,Delayed,Signal Failure,No
9,a8cedba7-1923-459d-b046,2023-12-31,03:05:52,Online,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,01:30:00,02:30:00,02:30:00,On Time,NaN,No

### Get some info about the data

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

In [21]:
df.describe()

              Price
count  31653.000000
mean      23.439200
std       29.997628
min        1.000000
25%        5.000000
50%       11.000000
75%       35.000000
max      267.000000

In [22]:
df.tail()

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No

### Get a random sample of the data

In [24]:
df.sample(10)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
5810,c59c1ab7-261c-46a5-9d4d,2024-01-22,17:43:19,Station,Credit Card,Adult,Standard,Advance,4,London Euston,Birmingham New Street,2024-01-23,16:00:00,17:20:00,17:20:00,On Time,NaN,No
30901,28dbd3a7-3d74-4c35-a25c,2024-04-27,17:16:15,Online,Credit Card,NaN,First Class,Off-Peak,21,Birmingham New Street,Nuneaton,2024-04-27,18:45:00,19:05:00,19:05:00,On Time,NaN,No
17927,d92b5709-a9a6-4d46-bbb8,2024-03-09,12:42:27,Station,Contactless,NaN,Standard,Advance,7,London Euston,Birmingham New Street,2024-03-10,11:00:00,12:20:00,13:13:00,Delayed,Staff Shortage,No
14953,dc5cb669-2784-4656-adef,2024-02-20,08:21:50,Online,Credit Card,NaN,Standard,Advance,18,London Paddington,Oxford,2024-02-22,07:45:00,09:15:00,NaN,Cancelled,Weather Conditions,No
26391,edc0ac88-7b7d-4148-88e6,2024-04-11,06:43:23,Station,Credit Card,NaN,First Class,Anytime,235,Liverpool Lime Street,London Euston,2024-04-11,08:00:00,10:15:00,10:28:00,Delayed,Weather,No
14419,a006263d-9a96-4379-8d18,2024-02-17,14:57:50,Station,Contactless,Senior,Standard,Advance,2,Manchester Piccadilly,Liverpool Lime Street,2024-02-25,13:15:00,13:45:00,13:45:00,On Time,NaN,No
13008,87d34536-1c5d-4897-8136,2024-02-12,13:37:13,Station,Credit Card,NaN,Standard,Off-Peak,19,London Paddington,Reading,2024-02-12,15:00:00,16:00:00,16:00:00,On Time,NaN,No
484,30d13533-f1be-497f-9932,2024-01-03,09:37:22,Station,Credit Card,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-04,08:00:00,10:15:00,NaN,Cancelled,Weather,No
26439,c8692268-2d41-47de-9334,2024-04-11,09:04:56,Online,Credit Card,NaN,Standard,Advance,35,London Kings Cross,York,2024-04-12,07:30:00,09:20:00,09:20:00,On Time,NaN,No
17662,33dc4edf-4b16-41d4-82bd,2024-03-08,14:34:40,Station,Debit Card,Adult,First Class,Anytime,69,London Euston,Birmingham New Street,2024-03-08,16:00:00,17:20:00,17:20:00,On Time,NaN,No